header{
  width:100%;
  line-height:3.5rem;
  background:#1997DD;
  vertical-align: center;
  display: flex;
  justify-content: space-around;
}
header a img{
  vertical-align: middle;
  width:12px;
}
header a:first-child img{
  vertical-align: middle;
  width:12px;
}
header span{
  color:#fff;
  font-size:20px;
  vertical-align: middle;
}
header a:last-child img{
  width:24px;
  vertical-align: middle;
}
section{
  width:100%;
  height:100%;
}
.box{
  width:80%;
  margin: 20px auto;
}
.login-box{
  border:1px solid #2a6ed3;
  background:#fff;
  height:47px;
  margin-bottom: 3rem;
  position: relative;
}
.userspan{
  display: inline-block;
  width:45px;
  height:50px;
  background: url("../img/user.png") center center no-repeat;
  background-size:15px,15px;
}
.login-box input{
  width:265px;
  height:45px;
  border:none;
  position: absolute;
  top:1px;
  outline-width:0px;
}
.login-btn{
  display: block;
  height: 45px;
  border-radius:8px;
  background: #1997dd;
  text-align: center;
  line-height: 45px;
  font-size:20px;
  color: #fff;
}
.line-box{
  width:100%;
  margin-top:40px;
  height:20px;
  position: relative;
}
.line{
  background: #d8d8d8;
  margin-top: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  overflow: hidden;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
}
.line-box a{
  background: #f2f2f2;
  position: absolute;
  left:50%;
  top:-15px;
  margin-left:-50px;
  width:100px;
  text-align: center;
  font-size:20px;
  color: #1997dd;
}
.alert{
  position: relative;
  top:18px;
  font-size:14px;
  color:#f48123;
}
.register-msg{
  position: absolute;
  left:92px;
  width:200px;
  height:50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  color:#fff;
  display:none;
}