*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{text-decoration:none;}
li{
    list-style-type: none;
}
h2{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
h3{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    vertical-align: bottom;
    color: #333;
}