body{
  background: #F7F7F7;
}
header{
  width:1226px;
  margin:0 auto;
  height:100px;
  border-bottom:2px solid #ef5b00;
  text-align: right;
  line-height: 100px;
  color:#b0b0b0;
  font-size:14px;
}
header img{
  float: left;
  margin-top:20px;
}
section{
  width:700px;  
  height:300px;
  margin:0 auto;
  margin-top:65px;
  background:url("../img/header/cart-empty.png") no-repeat 177px 0;
  padding-left:558px;
  padding-top:20px;
  color:#b0b0b0;
  margin-bottom: 180px;
}
section h2{
  margin-top: 50px;
  margin-bottom: 0;
  font-size:35px;
}
section::before{
  display:block;
  content: "";
}
section p{
  font-size:20px;
  margin:10px 10px 20px 10px;
}
.not-login a{
  display: inline-block;
  text-align: center;
  width: 170px;
  height: 48px;
  line-height: 48px;
  background-color: #f25807;
  border:1px solid #f25807;
  color: #fff;
  font-size: 14px;
}
.not-login a:last-child{
  background: #fff;
  color:#f25807;
}